<header>

  <!-- Sidebar -->
  <div class="sidebar-fixed position-fixed fixed-top">

    <a class="logo-wrapper waves-effect">
      <img src="../../../../assets/image/zalo.jpg" class="img-fluid" alt="">
    </a>

    <div class="list-group list-group-flush" *ngIf="currentUser">

      <a *ngIf="currentUser.admin" routerLink="{{routing.DASHBOARD}}" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
        <mdb-icon fas icon="chart-pie" class="mr-2"></mdb-icon>Thống kê
      </a>
      <a *ngIf="currentUser.admin" routerLink="{{routing.USER_MANAGER}}" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
        <mdb-icon fas icon="users" class="mr-2"></mdb-icon>Quản lý người dùng</a>
    </div>

  </div>
  <!-- Sidebar -->

  <!--Navbar-->
  <mdb-navbar [containerInside]="false" SideClass="navbar navbar-expand-lg navbar-light white fixed-top">

    <!-- Navbar brand -->
    <logo class="ml-3">
      <a class="navbar-brand" routerLink="/">
        <strong class="blue-text">ZALO</strong>
      </a>
    </logo>

    <!-- Collapsible content -->
    <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item" >
          <a class="nav-link" routerLink="/dashboard" mdbWavesEffect>Hệ thống quản lý người dùng
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
      <!-- Links -->

      <!-- Search form -->
      <ul class="navbar-nav nav-flex-icons">

        <li class="nav-item">
          <a routerLink="/{{routing.AUTH}}/{{routing.LOGIN}}" (click)="logout()" class="nav-link" mdbWavesEffect>
            <mdb-icon fas icon="sign-out-alt"></mdb-icon> Đăng xuất
          </a>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->

  </mdb-navbar>
  <!--/.Navbar-->

</header>
